</br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-6">
			<% @blogs.each do |blog| %>
			<div class="card">
			  <div class="card-body">
			  	<img  src="<%= blog.user.cover %>" alt="cover" width="40%">
			    <h4 class="card-title"><%= blog.title %></h4>
			    <h6 class="card-subtitle mb-2 text-muted">by <%= blog.user.user_name %></h6>
			    <p class="something"><%= blog.content %></p>
			    <p class="card-text">Number of View: <%= blog.view %></p>
			    <!-- <a href="<%= blog_path(blog.id)%>" class="card-link">Read more</a> -->
			    <%= link_to blog_path(blog.id), class: "card-link" do %>
			    Read more
			    <% end %>
			  </div>
			</div>
			</br></br>
			<% end %>
		</div>
	</div>
	</br></br></br></br>
</div>
