<div class="container">
	<h1 style="margin-bottom: 20px">BLOGS PAGE</h1>
		<div class="row">
			<div class="col-md-8 mx-auto"  style="margin: 30px 0px">
				<div class="col-md-12">
					<a href="\blogs/new">
						<button type="submit" class="btn btn-info" style="float: right; margin-left: 20px">
							New blog
						</button>
					</a>
					 <%= link_to "My blogs", myblogs_path(session[:current_user]["user_id"]) , class: "btn btn-info", style: "float: right"%>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="col-md-12">
				<% if @blogs.nil? %>
					<p>Haven't blogs to show</p>
				<% else %>
					<% @blogs.each do |blog| %>
						<div class="card" style="margin-bottom: 20px">
							<div class="card-body">
								<h4 class="card-title"><%= blog.title %></h4>
								<img src= "<%=Faker::Avatar.image("#{blog.user.user_id}", "50x50", "bmp", "set1", "bg1")%>" alt="avatar">
								<h6 class="card-subtitle mb-2 text-muted" style="margin-top: 5px">by <%= blog.user.user_name %></h6>
								<p class="something"><%= blog.content %></p>
								<p class="card-text">Number of View: <%= blog.view %></p>
								<p class="card-text" style="display: inline;">Tag: </p>
								<% @btags.each do |btag| %>
									<% if btag.blog_id == blog.id %>
											<a href="#">#<%= Tag.find_by_tag_id(btag.tag_id).tag_name %> </a>
									<% end %>
								<% end %></br>
								<%= link_to show_blog_path(blog.id), class: "card-link" do %>
								Read more
								<% end %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
